body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    margin: 0;
}
.network-container{
    border: 0.2px solid lightgrey;
    border-radius: 10px;
    background: white;
    margin-right: 200px;
    margin-top: 140px;
    margin-left: 200px;
    margin-bottom: 100px;

}
.people h2{
    margin-left: 50px;
    margin-top: 40px;
    font-weight: 370;
    font-size: 1.6rem;
    color: rgb(100, 99, 99);
}
.test{
    display:flex;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
    flex-direction: row;
    flex-wrap:wrap;
}
.tile-container{
    border: 0.5px solid rgb(223, 222, 222);
    width: 190px;
    height: 250px;
    border-radius: 10px;
    background-color:white;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    /* box-shadow:1px 1px 1px rgba(235, 233, 233, 0.829); */
    /* padding: 12px; */

}
.tile-container:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition: box-shadow .3s;
}
/* .tile-container img{
    height: 90px;
    width: 90px;

} */
.cover-pic{
    /* position: relative; */
    background-size: cover;
    width: 190px;
    height: 70px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.avatar-pic{
    border-radius: 50%;
    z-index: 1;
    height: 90px;
    width: 90px;
    left: 45px;
    top: -60px;
    margin-top: -55px;
    margin-left: 50px;


}
.connect-btn{


}
.photo-container{
    height:100px;
}
.connect-btn button{
    width: 150px;
    border-radius: 20px;
    background: none;
    padding: 4px;
    border: 0.5px solid rgb(24, 36, 53);
    color:rgb(55, 88, 138);
    font-weight:bold;
    cursor: pointer;
}
.connect-btn btn:hover{
    /* box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition: box-shadow .3s;
    opacity: 1; */
}
.profile-text{
    margin-top: 0px;
}
.name{
    font-weight: 600;
    font-size: 15px;
}
.job{
    font-weight: 200;
    font-size: 12px;
    color:  rgba(0,0,0,.6);
}
p{
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}
.connect-btn a{
    /* border: 1px solid blue;
    border-radius: 10px */
    font-size: 0.5rem;

}
/* a{
    margin-left: 40px;
} */
.connect-btn a{

    border: 1px solid rgb(60, 60, 196);
    border-radius: 50px;
    width: 140px;
    height:25px;
    margin-left: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;


}
.connect-btn{
    text-align: center;
}
.connect-link{
    /* width: 550px; */
    border-radius: 20px;
    background: none;
    padding: 4px;
    cursor: pointer;
    /* border: 0.5px solid rgb(30, 98, 199); */
    width: 400px;
    text-align: center;

    color: rgb(30, 98, 199);
    font-weight: bold;
    cursor: pointer;



}
