body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}
.people h2{
    margin-left: 70px;
    margin-top: 40px;
    font-weight: 400;
}
.test{
    display:flex;
    margin: 50px;
    flex-direction: row;
    flex-wrap:wrap;
}
.tile-container{
    border: 0.5px solid rgb(223, 222, 222);
    width: 190px;
    height: 250px;
    border-radius: 10px;

    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    /* box-shadow:1px 1px 1px rgba(235, 233, 233, 0.829); */
    /* padding: 12px; */

}
.tile-container:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    transition: box-shadow .3s;
}
/* .tile-container img{
    height: 90px;
    width: 90px;

} */
.cover-pic{
    position: relative;
    background-size: cover;
    width: 190px;
    height: 70px;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.avatar-pic{
    border-radius: 50%;
    z-index: 1;
    height: 90px;
    width: 90px;
    left: 45px;
    top: -60px;
    position: relative;

}
.connect-btn{
    text-align: center;

}
.photo-container{
    height:100px;
}
.connect-btn button{
    width: 150px;
    border-radius: 20px;
    background: none;
    padding: 4px;
    border: 0.5px solid rgb(30, 98, 199);
    color:rgb(30, 98, 199);
    font-weight:bold;
    cursor: pointer;
}
.profile-text{
    margin-top: 0px;
}
.name{
    font-weight: 600;
    font-size: 15px;
}
.job{
    font-weight: 200;
    font-size: 12px;
    color:  rgba(0,0,0,.6);
}
p{
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}
.connect-btn a{
    /* border: 1px solid blue;
    border-radius: 10px */
    font-size: 0.5rem;

}
.connect-btn {
    width:
}
.connect-link{

    /* width: 550px; */
    border-radius: 20px;
    background: none;
    padding: 4px;
    border: 0.5px solid rgb(30, 98, 199);
    width: 400px;
    color: rgb(30, 98, 199);
    font-weight: bold;
    cursor: pointer;

}
