.new-post-container {
    border: 1px solid gray;
    border-radius: 20px;
    margin: 50px;
}
.post-top {
    display: flex;
    align-items: center;
}
.avatar-circle {

}
.post-container{
    margin: 10px;

}
.start-post-container{
    border: 1px solid black;
    margin: 20px;
    margin-right: -5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #e6e6e6;
    padding: 20px;
    border-radius: 15px;
    display:flex;
}

.start-post-container button{
    background: transparent;
    padding: 5px;
    margin: 10px;
    width: 400px;
}
.submit-post{
    width: 80px;
    margin: 30px;
    border-radius: 50px;
    color: white;
    background-color: rgb(66, 101, 199);
    border: none;
}
.click-to-post{

    background-color: var(--color-background-none);
    color: var(--color-text-low-emphasis-shift);
    border: 0.5px solid rgb(231, 231, 231);
    border-radius: 35px;
}
.click-to-post button{
    border-radius: 35px;
    border: none;
    justify-content: left;
    color: blue;

}
.avatar-circle{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: 10px;
}
