.liked{
    color: rgb(24, 99, 211);
    font-weight: bold;

}
.like-word{
    color: rgb(24, 99, 211);
    font-weight: 550;
}
.unliked{
    color:rgb(95, 93, 93);
}
.unlike-word{
    color:rgb(95, 93, 93);
}

.commented{
    color: gray;
}

.comment-numbers {
    order: 1;
    margin-top: -15px;
}
.likes-comments-icon-container{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.num-comments-icon{
    display: flex;
    order: 1;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 150;
    color:rgb(95, 93, 93);
}
.display-comments{
    border: none;
    background-color: white;
    color: black;
}
.likes-container{
    display: flex;
    order: 2;
}
.num-likes{
    order: 2;
    margin-left: 10px;
    color: rgb(95, 92, 92);
    font-weight: 150;
    /* margin-left: 30px;
    margin-top: 40px;
    margin-right: 30px; */
}
.like-icon{
    order: 1;

    /* margin-top: 40px; */
}
.fa-thumbs-up:before{
    cursor: pointer;
}
.fa-comment-dots:before{
    cursor: pointer;
}

.fa-trash {
    /* margin-left: 400px;
    margin-top: 20px; */
    order: 4;
    cursor: pointer;


}
.delete-comment{



}
