.liked{
    color: blue;
    font-weight: bold;
    background-color: green;
}
.unliked{
    color:black;
    background-color: green;
}

.commented{
    color: gray;
}

.comment-numbers {
    order: 1;
    margin-left: 10px;
}
.likes-comments-icon-container{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.num-comments-icon{
    display: flex;
    order: 1;
    margin-left: 20px;
    margin-right: 20px;
}
.likes-container{
    display: flex;
    order: 2;
}
.num-likes{
    order: 2;
    margin-left: 10px;
    /* margin-left: 30px;
    margin-top: 40px;
    margin-right: 30px; */
}
.like-icon{
    order: 1;
    background-color:pink;
    /* margin-top: 40px; */
}
.fa-thumbs-up:before{
    cursor: pointer;
}
.fa-comment-dots:before{
    cursor: pointer;
}
