.search-btn{
    width: 200px;
    height: 35px;
    background: rgb(239, 245, 252);
    display: flex;
    color: rgb(150, 148, 148);
    flex-direction: row;
    border: none;
    border-radius: 5px;
    padding: 3px;
    margin: 10px;
    font-weight: 300;

}

.fa-linkedin:before {
    color: rgba(20, 81, 150, 0.884);
}
li-icon{
    margin: 3px;

}
.searching {
    margin: 3px;
}
.profile-button img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.drop-down button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.fa-linkedin:before{
    font-size: 40px;
}
a {
    text-decoration: none;
    margin: 4px;
    color:rgb(61, 61, 61);
    font-size:14px;
}
li {
    align-items: center;
    cursor: pointer;
    list-style-type: none;
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
.nav-bar-container{
    border-bottom: 0.5px solid #ebebeb;
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: 300;
    background-color:white;
    color: black;
    /* color: #ccc; */
}
.briefcase, .users, .house {
    color:rgb(65, 62, 62);
}


.profile-dropdown{
    border-radius: 5px;
    border: rgb(185, 184, 184);
    border-top-right-radius: 0px;
    text-align: left;
    font-family: helvetica, arial;
    display: inline-block;
    min-width: 100px;
    position: absolute;
    right: 45px;
    top: 85px;
    /* background-color: white; */
    color: rgb(211, 211, 211);
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    padding: 12px 16px;

}
button.profile-dropdown{
    background: linear-gradient(45deg, #c964c5, #5248b3);

    padding: 10px;
    margin: 5px;
}


.search-field input [type=text]{
    color:rgb(44, 68, 114);
}
