.parent-list{
    z-index: 20;

}
.search-result {
    border: 0.5px solid rgb(236, 235, 235);
    border-radius: 20px;
    box-shadow: 0 5px 12px rgb(205, 205, 212);
    height: auto;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 1;

}
.one-user {
    display: flex;
}
.avatar-circle{

}
.search-result::-webkit-scrollbar {
    display: none;
}
