.log-in-container{
    display: flex;

}
.log-in-form{
    text-align: left;
    height: 400px;
    border: 1px solid black;
    width: 200px;
}
.log-in-form div {
    margin: 10px;
}
.log-in-form h1{
    margin: 10px;
}
.log-in-form h4{
    margin: 10px;
}
.form-control{
    width: 100px;
}
button {
    border-radius: 10px;
    margin-top: 10px;
}
Button {
    border-radius: 50px;
}
