
.log-in-container{
    text-align: center;
    margin: 60px;
}
.log-in-form{
    border: 1px solid rgb(226, 219, 219);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    width: 500px;
    text-align: left;
    background: white;
    display:inline-block;

}
input[type=text], input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    margin-left: 15px;
    display: inline-block;
    border: none;
    background: #dae5f3;
    opacity: 0.4;
  }
  label{
      margin-left: 15px;
  }
  .about-box [type=textarea]{
      margin-left: 15px;
      width: 90%;
      height: 130px;
     overflow: hidden;
     background: #dae5f3;
    opacity: 0.4;
  }

  .experience-box [type=textarea]{
    margin-left: 15px;
    width: 90%;
    height: 130px;
   overflow: hidden;
   background: #dae5f3;
  opacity: 0.4;

  }
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
    opacity: 0.5;
  }

.demo-link{
    text-align: center;
}
input[type="submit" i] {
    width: 100%;
    margin-top: 10px;
    border-radius:50px;
    background: green;
    border: none;
    height: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
    opacity: 0.5;
    cursor: pointer;
    background-image: linear-gradient(45deg, #BA00B4, #1D0AC9);



}
