.page-container {
    display: flex;
    flex-direction: row;

}
.left-container{
    order: 1;
}
.main-container{
    order: 2;
}

.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-right: 2px solid gray;
    width: 250px;
}

.side-bar li {
    margin: 20px;
    flex-direction: row;
}
.friends {
   color: rgb(250, 116, 138);
   margin-right: 10px;
}
.messenger{
color: blueviolet;
margin-right: 10px;

}
.walking{
    color: peru;
    margin-right: 10px;

}
.side-avatar-circle{
    height: 20px;
    width: 20px;
     border-radius: 100%;
     margin-right: 10px;
}
