.splash-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.splash-photo {
    margin: 100px;
    width: 40%;
    height: 40%;
    border-radius: 100%;
}
.splash-text{
    margin-left: 50px;
    margin-top: -60px;
}
.splash-text h1{
    font-weight: 200;
    font-family: sans-serif;
    line-height:80px;
    font-weight: 300;
    font-size: 65px;
    background: -webkit-linear-gradient(#5f2c82, #49a09d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.splash-demo {
    color: black;
    padding-right: 20px;
    font-weight: 500;
    font-size: 15px;
    margin-top: 0.5px;
    cursor: pointer;


}


.splash-text h3{
    font-weight: 200;
    line-height: 70px;
    font-size: 5.6rem;

}

.splash-button-container {
    margin: 400px;
    border: 2px solid green;
    /* background-color:azure;
    border-bottom: 1px solid rgb(185, 184, 184);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    font-weight: 300;
    color: #ccc; */
}
.splash-button a{
    font-family: 'Cormorant Garamond', serif;
    cursor: pointer;
    list-style-type: none;
    margin: 10px;
    display: flex;
    justify-content: center;

  }
