.feed-container{
    text-align: center;
}
.upload-box-container{
    display: flex;
    justify-content: center;
}
.main-post-container{
    border-radius: 10px;
    display: block;
    text-align: left;
    display: inline-block;
    align-items: center;
    padding: 4px;
    padding-top: 8px;
    /* border: 1px solid rgb(235, 234, 234);
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%); */
}
.post-container{
    border-radius: 10px;
    background-color:white;
    padding: 4px;
    width: 600px;
    padding-top: 8px;
    border: 1px solid rgb(235, 234, 234);
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
}
.single-post{
    background: white;
    width: 600px;
    height: auto;
    padding: 25px;
    border: 1px solid rgb(226, 219, 219);
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    border-radius: 10px;
    margin: 40px;
    margin-bottom: 20px;
    border: 1px solid rgb(235, 234, 234);
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
}
.top-post-container{
    display:flex;
}
.author-photo{
    order: 1;
    margin: 10px;
}
.author-details{
    order: 2;
}

.top-post-container p{
    font-weight: 400;
    text-align: left;
    margin-left: 40px;
    margin-bottom: 2px;
}
.author-name-post p{
    font-weight: bold;
    margin-bottom: -2px;
}
p.author-name-post{
    font-weight:550;
    cursor: pointer;
}
author-headine-post{
    font-size: 10px;
    color: gray;
}
.author-photo{
    border-radius:100%;
    height: 50px;
    width: 50px;
}

.text-post{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 12px;
    font-size: 14px;
    align-items: unset;
}
.photo-post-container{
    text-align: center;
}
.photo-post{
    margin:auto;
    width: 60%;
    height: 60%;
    margin: 5px;
}
.video-post{
    margin:auto;
    width: 90%;
    height: 90%;
    margin: 5px;
}

.comment-container{

   margin: 10px;
   overflow-y:  scroll;
   max-height: 300px;
}

.comment-by{
    display: flex;
    flex-direction: row;
    background: #f1f1f1;
    padding: 15px;
    margin: 10px;
    width: 400px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    /* width: auto
    height: 180px;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1; */
}
.user-by{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;

}
.comment-text{
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 300;

}
.comment-photo{
    height: 30px;
    width: 30px;
    border-radius:40px;
    margin-right: 15px;
}
.click-me{
    cursor: pointer;
    border: none;
}
.user-by {
    cursor: pointer;
}
.edit-button{
    border: none;
    height: 30px;
    width: 30px;
    background-color: white;
    cursor: pointer;
    color: #707070;
    float: right;
}
.edit-dropdown{
    background-color: white;
    width: 140px;
    position: absolute;
    height: 60px;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    border: none;
    right: 400px;
    text-align: left;
    padding: 20px;
}
.edit-drop-down button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: -60px;
}
.edit-button:hover{
    border-radius: 50%;
    background-color: #f0f0f0;


}
