.post-box{
    border: 1px solid rgb(216, 213, 213);
    border-radius: 70px;
    margin: 20px;
    height: 50px;

}
.upload-box-container{
    display: flex;
    border: 1px solid lightgray;

}

.avatar-circle{
    display: flex;
    flex-direction: column;
}
.avatar-circle img{
    align-items: center;
}

.post-box button{
    border: 1px solid gray;
    background: none;
    border: none;
    width: 300px;
    border-radius: 50px;
    cursor: pointer;
    text-align: left;
    margin-left: 20px;
    margin-top: 15px;

}

.upload-post-form{
    border: 1px solid gray;
    padding: 20px;

}
.top-modal{
    border-bottom: 1px solid gray;
}
.input-file{
    display: none;
}
.upload-post-label{
    cursor: pointer;
    color: white;
    border: none;

    background-color: rgb(52, 121, 211);
    background-image: linear-gradient(45deg, #BA00B4, #1D0AC9);
    width: 500px;
    border-radius: 100%;
    padding: 10px;
    /* margin-top: 330px;
    margin-bottom: 50px; */
    font-family: -apple-system,BlinkMacSystemFont,“Segoe UI”,Roboto,Helvetica,Arial,sans-serif;
}
