.post2-box{
    border: 1px solid rgb(216, 213, 213);
    border-radius: 70px;
    margin: 10px;
    margin-left: 4px;
    height: 40px;
    text-decoration: none;
    border: none;
    /* background: #f1f1f1; */
    border: 1px solid rgb(216, 213, 213);
    border-radius: 10px;
    margin-left: 4px;
    height: 120px;
    text-decoration: none;
    border: none;
    width: 600px;

}
.modal-container{
    border-radius: 20px;
    border: none;
}
.upload-box-container{
    margin-top: 140px;
    display: flex;

}
.on-your-mind-box{
    border: 1px solid gray;

}

.avatar-circle{
    display: flex;
    flex-direction: column;
}
.avatar-circle img{
    align-items: center;
}
.post-box{
    background-color:white;
    border-radius:50px;
    height: 40px;
    border: 0.3px solid lightgray;
}
.post-box button{
    border: 1px solid gray;
    background: none;

    border: none;
    width: 300px;
    border-radius: 50px;
    cursor: pointer;
    text-align: left;
    margin-left: 20px;
    margin-top: 13px;
}
.post-box:hover{
    background-color:#f1f1f1;
}

.upload-post-form{
    /* border: 1px solid gray; */
    padding: 20px;
    width: 500px;
    border-radius: 25px;

}

.top-modal{
    border-bottom: 1px solid gray;
}
.input-file{
    display: none;
}


.upload-post-label{
    cursor: pointer;
    border: none;
    font-size: 13px;
    /* background-color: rgb(52, 121, 211); */
    /* background-image: linear-gradient(45deg, #BA00B4, #1D0AC9); */
    width: 500px;
    border-radius: 50px;
    padding: 10px;
    /* margin-top: 330px;
    margin-bottom: 50px; */
    font-family: -apple-system,BlinkMacSystemFont,“Segoe UI”,Roboto,
    Helvetica,Arial,sans-serif;


}
.upload-post-label label{
    color: lightgray;
}
.user-top{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.avatar-circle{
    order: 1;
}
.profile-name{
    order: 2;
}
.share-container{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.upload-image-box{

}
.share-story{

}

#comment-submit-button{
    border: none;
    color: rgb(160, 224, 160);
    border-radius: 10px;
    width: 15%;
    margin-top: 10px;
    border-radius:50px;
    background: rgb(193, 247, 193);
    border: none;
    height: 40px;
    color: white;
    text-align: center;
    font-weight: bold;
    opacity: 0.5;
    cursor: pointer;
    background-image: linear-gradient(45deg, #ff1d1d, #cabd08);
}
